.tag{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(58, 58, 58, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 50px;
    color: black;
    margin-inline-end: 0.6rem;
    padding: 0.4rem 0.5rem;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    transition: 0.5s ease;
}

.profTag{

    /*filter: drop-shadow(2px 4px 2px #000000c7);*/
    /*background: linear-gradient(242.29deg, #adadadcf -125.58%, rgba(255, 255, 255, 0) 73.6%), #464646;*/
}

.tag:hover{
    background: rgba(34, 172, 255, 0.37);
    /*border: 1px solid white;*/
}
.tagActive{
    background: rgba(111, 203, 255, 0.37);
}

.tagNotActive{
    cursor: auto;
    background: rgba(176, 176, 176, 0.37);
    border: 2px solid rgba(58, 58, 58, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 50px;
    color: black;
    margin-inline-end: 0.6rem;
    padding: 0.4rem 0.5rem;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    transition: 0.5s ease;
}

.gradeTag{
    /*filter: drop-shadow(2px 4px 2px #000000c7);*/
    /*!*color: #3a3a3a;*!*/
    /*!*border: 3px solid transparent;*!*/
    /*width: 12rem;*/
}

.zeroTag {
    /*background: linear-gradient(180deg, #000000c7 -125.58%, rgb(255 255 255 / 0%) 73.6%), #62c037;*/
}

.junTag{
    /*background: linear-gradient(180deg, #000000c7 -125.58%, rgb(255 255 255 / 0%) 73.6%), #7F9F23;*/
}

.midTag{
    /*background: linear-gradient(180deg, #000000c7 -125.58%, rgb(255 255 255 / 0%) 73.6%), #cfbf35;*/
}

.senTag{
    /*background: linear-gradient(180deg, #000000c7 -125.58%, rgb(255 255 255 / 0%) 73.6%), #d34848;*/

}

@media (min-width: 1600px) and (max-width: 2000px) {
    .tag {
        padding: 0.6rem 0.8rem;
        font-size: 1.4rem;
    }
}

@media (min-width: 900px) and (max-width: 1300px) {
    .tag{
        font-size: 0.8rem;
        line-height: 1rem;
    }
}