@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.graph-container {
    position: relative;
.percent-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: 'Pathway Gothic One', Arial
}
}