.authPage{
    height: 100%;
    background-size: cover;
    background-image: url("../../static/images/back-pattern-home.png");
}
.authModal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    padding: 1rem 2rem;
    background: #1B1B1B;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-content: space-around;
    align-items: center;
}

.authModal  > h4{
    color: white;
}
.form-group > label{
    color: white;
}
.authModal > span{
    color: white;
}


.form-group{
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block-end: 1rem;
}

.submitBtn{
    width: 334px;
    height: 44px;
    left: 681px;
    top: 544px;
    margin: 1rem;
    background: #E8F1F2;
    mix-blend-mode: normal;
    border: 3px solid #3A3A3A;
    border-radius: 10px;
    font-size: 1rem;
}