.authPage{
    height: 100%;
    background-image: url("../../static/images/back-pattern-home.png"), linear-gradient(141.03deg, #3A3A3A -0.42%, #000000 30.16%);;
    background-size: contain;
}
.authModal{
    box-shadow: 0px 0px 5px 1px rgb(255 255 255);
    height: -moz-fit-content;
    background: #d3d3d324;
    -webkit-backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    padding: 1rem 2rem;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-content: space-around;
    align-items: center;
}

.authModal  > h4{
    color: white;
}
.form-group > label{
    color: white;
}
.authModal > span{
    cursor: pointer;
    color: white;
}

.invalid-feedback{
    color: #ff0c0cbf;
}
.back-feedback{
    padding-block-start: 1rem;
    text-align: center;
}


.form-group{
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block-end: 1rem;
}

.submitBtn{
    width: 334px;
    height: 44px;
    left: 681px;
    top: 544px;
    margin: 1rem;
    mix-blend-mode: normal;
    border-radius: 10px;
    font-size: 1rem;
}