.header{
    display: flex;
    background: #1B1B1B;
    padding-inline: 80px;
    align-items: center;
    padding-block: 14px;
}

.title{
    font-family: 'GT Eesti Pro Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    flex-grow: 1;
    color: #FFFFFF;
}

.username{
    padding-inline: 10px;
    font-family: 'GT Eesti Pro Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

