.page{
    align-items: center;
    flex-direction: column;
    display: flex;
    background-size: 100% 100%;
    background: linear-gradient(332.82deg, rgba(52, 19, 184, 0.2) 19.43%, rgba(111, 89, 199, 0) 91.12%), url("../../static/images/blackGrid.png");
    backdrop-filter: blur(5px);
    background-size: contain;
    padding: 10px 80px;
    height: inherit;
}

.job{
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: grey;
}

g > text {

}

.labelJob{
    filter: none;
    fill: white;
    font-size: 1rem;
    text-anchor: middle;
    dominant-baseline: middle;}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #111;
    display: flex;
    font-family: sans-serif;
    max-width: 500px;
}