.search{
    color: black;
    width: 100%;
    background: #E8F1F2;
    border: 3px solid #9cb1ff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    font-size: 20px;
    padding-inline-start: 0.8rem;
    outline-color: #0047ff;
}
.searchBlock{
    align-items: center;
    margin-inline-start: 24px;
    flex-grow: 8;
    display: flex;

}

.formSearch{

    width: 60%;
}

.favorite{
    margin-inline: 2rem;
    /*visibility: visible;*/
}

/* Задаем общий стиль всплывающей подсказки для нужных элементов*/
.favorite:hover:before{
    z-index: 20;
    font-size: medium;
    position: absolute;
    width: 6rem;
    color: #fff;
    background: #000;
    padding: 5px;
    border-radius: 4px;
    top: 3.4rem;
}

/* Добавляем текст в конкретной всплывающей подсказке */
.favorite:hover:before {
    content: "добавьте роадмап в избранное";
}

.changeSearch{
    width: 3rem;
    margin-inline: 1rem;
}

.dropDown{
    box-shadow: 0 0 0 4px #9cb1ff;
    margin-block: 10px;
    position: absolute;
    z-index: 200;
    width: 32%;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 20px;
}

.titleRecommend{
    border-radius: 10px;
    cursor: pointer;
    background-color: #c7d9f9;
    margin: 10px 0px;
    padding: 10px;
}