.search{
    width: 100%;
    background: #E8F1F2;
    border: 3px solid #3A3A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 20px;
    padding-inline-start: 0.8rem;
}
.searchBlock{
    margin-inline-start: 24px;
    flex-grow: 8;
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem
}

.formSearch{
    width: 60%;
}

.favorite{
}

/* Задаем общий стиль всплывающей подсказки для нужных элементов*/
.favorite:hover:before{
    z-index: 20;
    font-size: medium;
    position: absolute;
    width: 6rem;
    color: #fff;
    background: #000;
    padding: 5px;
    border-radius: 4px;
    top: 3.4rem;
}

/* Добавляем текст в конкретной всплывающей подсказке */
.favorite:hover:before {
    content: "добавьте роадмап в избранное";
}