.startBlock{
    margin: 5rem 70px 0 70px;
    height: 75%;
    column-gap: 1rem;
    display: flex;
    flex-direction: row;
    background-size: contain;

}

.gradeBlock{
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    display: flex;
    background-size: 100% 100%;
    background: url("../../static/images/back-pattern-grade.png"), linear-gradient(180deg, rgb(0 0 0) 0%, #08041c 100%);
    backdrop-filter: blur(5px);
    background-size: contain;
}
.gradeDescr{
    align-items: center;
    padding: 10px;
    margin-inline: 70px;
    display: flex;
    justify-content: space-between;
}
.nodes{
    height: 20rem;
}

.endBlock{
    height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: space-around;
    background: url("../../static/images/back-pattern-graph.png"), linear-gradient(180deg, #08041c 0%, #342f4c 100%);
    background-size: cover;
}

.description{
    width: 50%;
    line-height: 2.4rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    align-items: flex-start;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.wrapper{
    z-index: 2;
    position: relative;
    display: inline-block;
}

.title{
    margin-block-end: 3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 3rem;
    color: #FFFFFF;
}

.titleEnd{
    cursor: pointer;
    align-self: center;
    margin-inline: 1rem;
    font-family: 'GT Eesti Pro Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    /* text-align: center; */
    color: #FFFFFF;
}

.titleDescr{
    font-size: 1.2rem;
    margin-block: 1rem;
    width: 30rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.widjetTitle{
    font-style: normal;
    color: #FFFFFF;
    bottom: 5%;
    position: absolute;
}

.tasks{
    width: 30rem;
    margin-block: 1rem;
}

.titleFavEnd{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



.tag{
    background: linear-gradient(242.29deg, #000000 -125.58%, rgba(255, 255, 255, 0) 73.6%), #1f51d2;
    color: black;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.24);
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.5s ease;
}

.newPageBtn{
    z-index: 2;
    color: white;
    margin-block: 1rem;
    font-size: 1.2rem;
    padding: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}

.widjet{
    z-index: 10;
    line-height: 1.2rem;
    text-align: -webkit-center;
    width: 10rem;
    padding: 2rem 1rem;
    background: linear-gradient(234.93deg, rgba(0, 0, 0, 0.51) 11.48%, rgba(0, 0, 0, 0) 100%), rgba(91, 94, 172, 0.38);
    border: 3px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 30px;
}

.widjetResume{
    position: absolute;
    right: 19rem;
    top: 10rem;
}

.widjetSkill{

}

.widjetLetter{
    top: 4rem;
    position: absolute;
    right: 6rem;
}



.widjetText{

    font-size: 1.2rem;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;

}

.tag:hover{

    background: linear-gradient(242.29deg, #000000 -125.58%, rgba(255, 255, 255, 0) 73.6%), #6187e7;
}

.firstNode{
    animation: pulse 3s linear infinite;
}

.secondNode{
    animation: pulse 3s linear infinite;
    width: 10rem;
    bottom: 0;
    position: absolute;
    right: 4rem;
}

.thirdNode{
    animation: pulse 3s linear infinite;
    width: 6rem;
}

.backCircle{
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: rgba(146, 129, 248, 0.3);
    border-radius: 14rem;
    filter: blur(70px);
    top: 23%;
    left: 9%;
    z-index: 1;
}

@keyframes pulse {
    0% {
        fill: #1f51d2;
        transform: scale(1, 1) translate3d( 0, 0, 0) perspective(1px);
    }
    50% {
        fill: #92a4d5;
        transform: scale(1.1, 1.1) translate3d( 0, 0, 0) perspective(1px);
    }
    100% {
        fill: #1f51d2;
        transform: scale(1, 1) translate3d( 0, 0, 0) perspective(1px);
    }
}


@media (min-width: 1600px) and (max-width: 2000px) {
    .tag{
        padding: 0.6rem 0.8rem;
        font-size: 1.4rem;
    }
    .widjet{
        line-height: 1.5rem;
        width: 15rem;
    }
    .widjetText{

        font-size: 1.5rem;
    }

    .titleDescr{
        font-size: 1.5rem;
    }

    .newPageBtn{
        font-size: 1.5rem;
    }

    .widjetResume{
        right: 24rem;
    }

    .widjetTitle{
        font-size: 1.4rem;
    }

}


@media (min-width: 901px) and (max-width: 1300px) {

    .startBlock{
        margin: 2rem 70px 0 70px;
        height: 73%;
    }
    .widjet{
        line-height: 1rem;

        width: 9rem;

    }
    .widjetText{

        font-size: 1rem;
    }

    .titleDescr{
        font-size: 1rem;
    }

    .newPageBtn{
        font-size: 1rem;
    }

    .widjetResume{
        right: 17rem;
    }

    .widjetTitle{
        font-size: 0.8rem;
    }
    .title{
        font-size: 3rem;
    }
}
