.startBlock{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("../../static/images/back-pattern-home.png"), linear-gradient(141.03deg, #3A3A3A -0.42%, #000000 30.16%);;
    background-size: contain;

}

.gradeBlock{
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    display: flex;
    background-size: 100% 100%;
    background: url("../../static/images/back-pattern-grade.png"), linear-gradient(180deg, rgb(0 0 0) 0%, #08041c 100%);
    backdrop-filter: blur(5px);
    background-size: contain;
}
.gradeDescr{
    align-items: center;
    padding: 10px;
    margin-inline: 70px;
    display: flex;
    justify-content: space-between;
}
.nodes{
    height: 20rem;
}

.endBlock{
    height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: space-around;
    background: url("../../static/images/back-pattern-graph.png"), linear-gradient(180deg, #08041c 0%, #342f4c 100%);
    background-size: cover;
}

.description{
    line-height: 2.4rem;
    width: 50%;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    align-items: flex-start;
    height: 86%;
    padding: 10px;
    margin: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wrapper{
    position: relative;
    display: inline-block;
}

.title{
    margin-block: 1rem;
    /* font-family: 'GT Eesti Pro Display', serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 37px;
    /* text-align: center; */
    color: #FFFFFF;
}

.titleEnd{
    cursor: pointer;
    align-self: center;
    margin-inline: 1rem;
    font-family: 'GT Eesti Pro Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    /* text-align: center; */
    color: #FFFFFF;
}

.titleDescr{
    font-size: 1.2rem;
    margin-block: 1rem;
    width: 30rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.tasks{
    width: 30rem;
    margin-block: 1rem;
}

.titleFavEnd{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



.tag{
    background: linear-gradient(242.29deg, #000000 -125.58%, rgba(255, 255, 255, 0) 73.6%), #1f51d2;
    border: 0;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 0 1px #000000;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.5s ease;
}

.newPageBtn{
     font-size: 1.2rem;
     margin-inline: 1rem;
     padding: 0.6rem;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5rem;
     text-align: center;
}

.tag:hover{

    background: linear-gradient(242.29deg, #000000 -125.58%, rgba(255, 255, 255, 0) 73.6%), #6187e7;
}

.firstNode{
    animation: pulse 3s linear infinite;
}

.secondNode{
    animation: pulse 3s linear infinite;
    width: 10rem;
    bottom: 0;
    position: absolute;
    right: 4rem;
}

.thirdNode{
    animation: pulse 3s linear infinite;
    width: 6rem;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}