.letterPage{
    column-gap: 2rem;
    display: flex;
    padding: 20px 80px;
    flex-direction: row;
    align-items: flex-start;
    height:  100%;
    /*background: url("../../static/images/back-pattern-grade.png"), linear-gradient(180deg, rgb(0 0 0) 0%, #08041c 100%);*/
    background-size: contain;
}

.copySvg{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.letterBlock{
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}

.copy{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    z-index: 10;
    margin: 1rem;
}

.letter{
    width: min-content;
    position: relative;
}

.letterArea{
    color: black;
    width: 60vw;
    height: 70vh;
    resize: none;
font-size: 1rem;
padding: 1rem;
}
.letterBlock > span{
    color: white;
}

.submit{
    text-align: center;
    padding: 0.5rem;
    visibility: visible;
    font-size: 1rem;
}

.submit[disabled]{
    filter: grayscale(1);
    pointer-events: none;
}