.profile{
    background-image: url("../../static/images/back-pattern-home.png"), linear-gradient(141.03deg, #3A3A3A -0.42%, #000000 30.16%);;
    background-size: contain;
    padding: 80px;
    height: 100%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

