.tags-input-container{
    width: 22rem;
    overflow-x: overlay;
    display: inline-flex;
    color: black;
    background: #E8F1F2;
    border: 3px solid #9cb1ff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    height: 2rem;
    padding-inline-start: 0.8rem;
    outline-color: #0047ff;
}

.tags-input-container::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.tags-input-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(128, 128, 128, 0);
    border-radius: 10px;
}

/* Handle */
.tags-input-container::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0);
    border-radius: 10px;
}

/* Handle on hover */
.tags-input-container::-webkit-scrollbar-thumb:hover {
    background: rgba(19, 15, 160, 0.29);
}
.tags-input-container input{
    color: black;
}

.tag-item{
    margin: 2px;
    font-size: 1rem;
    background-color: rgb(218, 216, 216);
    display: flex;
    padding: 0.3em 0.5em;
    border-radius: 20px;
}
.tag-item .close{
    height: 20px;
    width: 20px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
}

.tags-input{
    font-size: 1rem;
    background: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
}

.searchSvg {
    cursor: pointer;
    margin-inline-start: 10px;
}
