.header {
    overflow-x: clip;
    position: relative;
    z-index: 100;
    display: flex;
    /*background: #1B1B1B;*/
    flex-direction: column;
    /*border-bottom: 3px solid rgba(255, 255, 255, 0.2);*/
}

.logoHref {
    /*flex-grow: 1;*/
    text-decoration: none;
}

.title {
    background-image: linear-gradient(180deg, #ffffff, #4454ff);
    color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
    font-family: 'Minipax', 'GT Eesti Pro Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.titles{
    display: flex;
    align-items: center;
}


.favorite {
    cursor: pointer;
    z-index: 20;
    text-decoration: none;
    padding-inline: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.username {
    cursor: pointer;
    text-decoration: none;
    padding-inline: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}


.mainHeader {
    justify-content: space-between;
    align-items: center;
    padding-block: 14px;
    display: flex;
    padding-inline: 80px;
    background: #1B1B1B;
}

.headerTags {
    z-index: 10;
    background: linear-gradient(180deg, #1B1B1B -10.9%, #252240 100%);
    position: absolute;
    display: flex;
    padding: 1rem 80px;
    flex-direction: column;
    width: 100vw;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-width: 0;
    border-image: linear-gradient(90deg, #ffffff00, #ffffff8c, #ffffff00) 30;
    border-bottom: 1px;
    border-style: solid;
}

.chooseTitle{
    color: #6d54ff;
}
.baseTitle {
    transition: color 0.4s ease;
}

.logout{
    margin-inline: 1rem;
}

.avatar{
    cursor: pointer;
    position: relative;
}
.avatar:hover:before {
    margin-inline: -1rem;
    left: 0;
    z-index: 20;
    font-size: medium;
    position: absolute;
    width: fit-content;
    color: #fff;
    background: #000;
    padding: 5px;
    border-radius: 4px;
    top: 2rem;
    content: "профиль";
    cursor: pointer;
}

@media (max-width: 1500px) {
    .favorite{
        padding-inline: 1rem;
    }
}

@media (max-width: 1500px) and (min-width: 1300px) {
    .favorite{
        padding-inline: 1rem;
    }
}

@media (min-width: 1500px) and (max-width: 2000px) {
    .favorite{
        padding-inline: 2rem;
    }

}

@media (min-width: 900px) and (max-width: 1300px) {
    .favorite{
        padding-inline: 1rem;
        font-size: 1rem;
    }
    .username{
        font-size: 1rem;
    }

    .title{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

}
