.search{
    line-height: 2rem;
    font-size: 1rem;
    padding-inline-start: 0.8rem;
    border: 1px solid #3A3A3A;
    border-radius: 10px;
    color: black;
    background: #E8F1F2;
    outline-color: black;
}

.search:focus{
    background: rgba(111, 203, 255, 0.37);
}
.searchHeader{
    width: 22rem;
    font-size: 1rem;
    padding-inline-start: 0.8rem;
}

.searchBlock{
    align-items: center;
    display: flex;

}

.formSearch{
    display: flex;
}

.favorite{
    cursor: pointer;
    margin-inline: 1rem;
    /*visibility: visible;*/
}

/* Задаем общий стиль всплывающей подсказки для нужных элементов*/
.favorite:hover:before{
    z-index: 50;
    font-size: medium;
    position: absolute;
    width: 6rem;
    color: #fff;
    background: #000;
    padding: 5px;
    border-radius: 4px;
    top: 3.4rem;
}

/* Добавляем текст в конкретной всплывающей подсказке */
.favorite:hover:before {
    content: "добавьте роадмап в избранное";
}

.changeSearch{
    height: 2rem;
    stroke: none;
    fill: #3a3a3a;
    cursor: pointer;
    margin-inline: 1rem;

}

.changeIconSearch:hover:before{
z-index: 50;
font-size: medium;
position: absolute;
width: 4rem;
color: #fff;
background: #000;
padding: 5px;
border-radius: 4px;
top: 3.4rem;
}

/* Добавляем текст в конкретной всплывающей подсказке */
.changeIconSearch:hover:before {
    content: "смена поиска";
}

.dropDown{
    box-shadow: 0 0 0 4px #9cb1ff;
    top: 4rem;
    margin-block: 10px;
    position: absolute;
    z-index: 200;
    width: fit-content;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 20px;
}

.titleRecommend{
    border-radius: 10px;
    cursor: pointer;
    background-color: #c7d9f9;
    margin: 10px 0px;
    padding: 10px;
}

.searchSvg{
    filter: brightness(0.1);
    transition: filter 0.5s ease;
    cursor: pointer;
    margin-inline-start: 10px;

}
.searchSvg:hover{
    filter: brightness(0.5);
}


@media (min-width: 1500px) and (max-width: 2000px) {
    .searchHeader{
        width: 26vw;
    }
}

@media (max-width: 1500px) and (min-width: 900px) {
    .searchHeader{
        width: 18rem;
    }

}