.rec{
    margin-inline-end: 10px;
    border-radius: 1rem;
    margin-block: 10px;
    background-color: #7d8a97;
    padding: 1rem;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.resumePage{
    align-items: flex-start;
    display: flex;
    height:  100%;
    background: url("../../static/images/back-pattern-grade.png"), linear-gradient(180deg, rgb(0 0 0) 0%, #08041c 100%);
    padding: 20px 80px;
    background-size: contain;
}

.allrecs{
    display: flex;

}

.tipsText {
    height: 100%;
    background: #1b1b1b;
    visibility: visible;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    overflow-y: overlay;
}

.profession{
    color: white;
    font-size: 1.5rem;
    margin-block-end: 10px;
}

.match{
    background-color: #e8f1f2;
    border-radius: 10px;
    padding: 6px;
    margin-block-end: 10px;
}
.resumeBlock{
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}
.resumeBlock > span {
    color: white;
}

.blurBlock{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(255 255 255);
    background: #d3d3d324;
    backdrop-filter: blur(3px);
}

.resResumeBlock{
    display: flex;
    margin-inline-start: 2rem;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 78%;
}

.resumeInput{
    height: -moz-fit-content;
    width: 14rem;
    border-radius: 10px;
    padding: 13px;
    width: -moz-fit-content;
    width: fit-content;
}
.errDesr{
    align-self: center;
    font-size: 1rem;
    color: #ff0c0cbf;
}

#searchResume{
    font-size: 1.2rem;
}
.dropdown{
    box-shadow: 0 0 0 4px #9cb1ff;
    margin-block: 10px;
    position: absolute;
    z-index: 200;
    width: -moz-fit-content;
    width: fit-content;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 20px;
}
#toLearn > span {
    font-size: 1.4rem;
    color: white;
}

.tagToLearn{
    margin-block: 0.5rem;
    display: flex;
    flex-direction: row;
}