.container {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.circle {
    position: absolute;
}

.svgNode{
    /*font-weight: 300;*/
    /*padding: 0.8rem;*/
    /*color: white;*/
    /*background-size: contain;*/
    /*background-image: url('../../../src/static/images/node.svg')*/
}

.svgTitle{
    max-inline-size: fit-content;
    animation: pulse 3s linear infinite;
    padding: 1rem;
    display: flex;
    color: white;
    font-weight: 300;
    height: min-content;
    font-size: 1rem;
}

/*.svgTitle:after{*/
/*    filter: brightness(1.5);*/
/*}*/

#zoom{
    width: 50%;
    height: 100vh;
    transition: scale 0.5s ease;
}
.titleNode{
    width: min-content;
    top: 0;
    position: absolute;
    background-color: #1B1B1B;
    color: white;
    left: 0;
    font-size: 5rem;
}


@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}