.graphBlock{
    height: 92%;
    width: 100%;
    /*background-size: cover;*/
    /*background-image: url("../../../static/images/back-pattern-graph.png");*/
}



.btnOptions{
    row-gap: 0.5rem;
    padding: 1rem;
    background: linear-gradient(135.29deg, #000000 -125.58%, rgba(255, 255, 255, 0) 73.6%), #464646;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin: 0.5rem;
    display: flex;
    position: absolute;
    z-index: 9;
    flex-direction: column;
    align-items: center;
}






.gradeTitle{
    color: white;
}