
@import url("static/fonts/stylesheet.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  /*background: linear-gradient(167.69deg, #D7D7D7 1.1%, #E7E7E7 91.05%);*/
  background-color: #D7D7D7
}

::-webkit-input-placeholder {
  transition: all 0.3s ease-in-out;

}
* {
  font-family: 'GT Eesti Pro Display', serif;
  font-style: normal;
  color: black;
}

input[type="text"], input[type="reset"], input[type="submit"], button, select, textarea {
  margin-top:0;
  margin-left:0;
  margin-bottom:0;
  margin-right:0;

  padding-top:0;
  padding-right:0;
  padding-left:0;
  padding-bottom:0;

  font-family:inherit;
  font-size:1em;
  line-height:12px !important;

  border-width:0;
}

input[type="text"], select, textarea {
  outline:0 none;
  background-color:transparent;
}

textarea {
  overflow:auto; /* for IE */
  resize:none;
}

@media (max-width: 1000px){
  body {
    overflow-y: visible;
  }
}



